torch
transformers
scipy
pythainlp
moviepy==1.0.3
srt
gradio
librosa
faster_whisper
whisper_timestamped
inflect
pydub
wavmark
eng_to_ipa
unidecode
openai
python-dotenv
pypinyin
cn2an
jieba
gradio
langid
datasets
accelerate
matplotlib
